<div id="login_side_quote">
  <h1>Connect with your friends.</h1>
  <h1>Discover something new.</h1>
  <h1>Broadcast your beats.</h1>
</div>
<div id="login_form_container">
  <form action="/" method="post" class="sleek_form_lg">
    <div class="input_text_wrapper">
      <input type="text" name="" id="" placeholder="Username" />
    </div>
    <div class="input_text_wrapper">
      <input type="password" name="" id="" placeholder="Password" />
    </div>
    <button type="submit">Login</button>
  </form>
  <div id="login_form_new_acct_prompt">
    Don't have an account?<br />
    <a href="" class="no_underline">Create a New Profile!</a>
  </div>
</div>