<app-response-modal [activeModal]="activeModal"></app-response-modal>
<div id="login_side_quote">
  <h1>Connect with your friends.</h1>
  <h1>Discover something new.</h1>
  <h1>Broadcast your beats.</h1>
</div>
<div id="login_form_container">
  <form class="sleek_form_lg" [formGroup]="loginFormGroup" (ngSubmit)="formSubmit(loginFormGroup.value)">
    <div class="input_text_wrapper">
      <input type="text" name="username" id="login_username" placeholder="Username" required />
    </div>
    <div class="input_text_wrapper" [@openCloseInputText]="isInLoginState ? 'login' : 'signup'">
      <input type="email" name="email" id="login_email" placeholder="Email" [required]="!isInLoginState" />
    </div>
    <div class="input_text_wrapper">
      <input type="password" name="password" id="login_password" placeholder="Password" required />
    </div>
    <div class="input_text_wrapper" [@openCloseInputText]="isInLoginState ? 'login' : 'signup'">
      <input type="password" name="password_confirm" id="login_password_confirm" placeholder="Confirm Password" [required]="!isInLoginState" />
    </div>
    <button type="submit">{{isInLoginState ? 'Login' : 'Sign Up'}}</button>
  </form>
  <div id="login_form_new_acct_prompt">
    {{isInLoginState ? 'Don\'t have an account?' : 'Already have an account?'}}<br />
    <a role="button" (click)="toggleFormState()" class="no_underline">{{isInLoginState ? 'Create a New Profile!' : 'Log In!' }}</a>
  </div>
</div>